<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <!--ion-title *ngIf="id>1" color="light">Adicionar Usuário<ion-title-->
    <!--ion-title *ngIf="id>2" color="light">Editar Usuário</ion-title-->
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
<ion-item>
  <ion-label position="floating">Nome:</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Email:</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label>Senha:</ion-label>
  <ion-input type="password"></ion-input>
</ion-item>

<ion-item>
  <ion-label>Nível:</ion-label>
  <ion-select>
  <ion-select-option value="admin">Administrador</ion-select-option>
  <ion-select-option value="gerente">Gerente</ion-select-option>
  <ion-select-option value="caixa">Caixa</ion-select-option>
  <ion-select-option value="vendedor">Vendedor</ion-select-option>
  </ion-select>
</ion-item>

<ion-item lines="none">
  <ion-button color="sucess" expand="block">Confirmar</ion-button>
  <ion-button color="danger" expand="block">Cancelar</ion-button>
</ion-item>

</ion-list>


</ion-item>

</ion-content>