<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Consulta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-list>
<ion-item>
  <ion-label position="floating" >Nome:</ion-label>
   <ion-input type="text"></ion-input>
</ion-item>
<ion-item>
    <ion-label position="floating">Email:</ion-label> 
    <ion-input type="text"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Telefone:</ion-label>
  <ion-input type="tel"></ion-input>
</ion-item>
<!--ion-item>
  <ion-label>Data:</ion-label>
  <ion-input type=""></ion-input>
</!--ion-item-->

<ion-item>
  <ion-label position="floating">Data:</ion-label>
  <ion-datetime displayFormat="D MMM YYYY H:mm" min="2021" value="2021-05-17T11:05Z"></ion-datetime>
</ion-item>

<ion-button color="primary" expand="block" href="#">Confirmar </ion-button>
</ion-list>
<ion-content>

</ion-content>
