<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Faça seu login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item>
    <ion-label position="floating">Usuários</ion-label>
    <ion-input type="text" [(ngModel)]="nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input type="password" [(ngModel)]="senha"></ion-input>
  </ion-item>
</ion-list>
<io-list>
  <ion-button expand="block" padding color="primary" (click)="login()">Entrar</ion-button>
</io-list>
</ion-content>